<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/" />
    <title>Mesi.vn - Mua và bán hàng trực tuyến trên Facebook.</title>
    <link rel="stylesheet" href="minify/bootstrap.min.css" />
    <script type="text/javascript" src="minify/jquery.min.js"></script>
    <script type="text/javascript" src="minify/tether.min.js"></script>
    <script type="text/javascript" src="minify/bootstrap.min.js"></script>
    <script type="text/javascript" src="minify/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
</head>

<body>
    <div id="root"></div>
    <script src="bundle.js" charset="utf-8"></script>
    <script>window.fbAsyncInit = function () { FB.init({ appId: "303503746720418", autoLogAppEvents: !0, xfbml: !0, version: "v2.11" }) }, function (e, t, n) { var o, s = e.getElementsByTagName("script")[0]; e.getElementById(n) || ((o = e.createElement("script")).id = n, o.src = "https://connect.facebook.net/vi_VN/sdk.js", s.parentNode.insertBefore(o, s)) }(document, 0, "facebook-jssdk")</script>
</body>

</html>