<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/" />
    <title>Mesi.vn - Mua và bán hàng trực tuyến trên Facebook.</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="js/bootstrap.min.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <!-- <script type="text/javascript" src="javascript/jquery.circlechart.js"></script> -->
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <!-- <script type="text/javascript" src="javascript/smoothscroll.js"></script> -->
    <!-- <script type="text/javascript" src="javascript/jquery-ui.js"></script> -->
    <script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    <script type="text/javascript" src="js/waves.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    
</head>

<body>
    <div id="root"></div>
    <script src="bundle.js" charset="utf-8"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '303503746720418',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.11'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/vi_VN/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    
</body>

</html>